<tr>
  <th>ID</th>
  <th>Descrição</th>
  <th style="width: 75px;"></th>
  <th style="width: 75px;"></th>
</tr>
{loop="$problems"}
<tr>
  <td>{$value.problem_type_id}</td>
  <td>{$value.description}</td>
  <td>
    <a href="/service-request/admin/problem/update/{$value.problem_type_id}">
      <i class="fa fa-edit"></i>
      Editar
    </a>
  </td>
  <td>
    <a class="text-danger" href="#" data-toggle="modal" data-target="#modal-delete-{$value.problem_type_id}">
      <i class="fa fa-trash"></i>
      Excluir
    </a>
  </td>  
  <!-- modal-content -->
  <div class="modal fade" id="modal-delete-{$value.problem_type_id}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-danger">Excluir</h4>
          </div>
          <div class="modal-body">
            <p>Tem certeza que deseja excluir determinado Problema?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
            <a href="/service-request/admin/problem/delete/{$value.problem_type_id}" type="button" class="btn btn-danger">
              Confirmar
            </a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </tr>

  {/loop}